body {
	background-color: #0f0f0f0f;
}
#page-wrapper {
	padding: 60px 15px;
}
#footer-wrapper {
	background: #111;
	color: #fff;
	padding: 20px 0px;
}
#login-from {
	min-width: 360px;
	max-width: 480px;
	margin: 0px auto;
	padding: 40px 20px;
	border: 1px solid #888;
	border-radius: 10px;
	background-color: #FFF;
}